@charset "utf-8";
html {
}

/* 

ここはメモだよ
複数行でも対応してますよ


*/
body {

}

/* ナビの空間を設定　背景？余白？*/
.start {
    border-bottom: solid 1px;
    border-bottom-color: #efefef;
    margin-bottom: 120px;
}

/* ロゴの写真と飛ぶ奴までの余白の設定とか*/
.nav-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: white;
    width: 1140px;
    margin: 0 auto;
}
/* 画像の大きさを設定*/
.nav-inner img {
    width: 15%;
    /* margin: 0 auto; */
}
/* ロゴの写真の左の余白を設定している　自動で*/
.companylogo:{
    margin:auto;
}

/* ボタンの設定？非表示？？*/
.btn-trigger {
    display: none;
}

/* 飛ぶとこの設定*/
.navigation {
    display: flex;
    list-style: none;
    text-transform: uppercase;
    /* color: black; */
    /* justify-content: flex-end; */
    /* align-items: center; */
}
/* 画像の大きさ*/
img {
    max-width: 100%;
    height: auto;
}
/* メイン画像の空間？？*/
.eyecatch{
    position: relative;

}
/* ロメイン画像の上にある文字の設定*/
.eyecatch-copy{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-size: 4.0rem;
    color: #fff;

}

.eyecatch-copy1{
    position: absolute;
    top: 60%;
    left: 23%;
    font-size: 3.0rem;
    color: #fff;
}

/* ボタンの横の大きさ設定*/
.navigation li {
    margin-left: 54px;
}

/*sentense strat */
/* 飛んだあとの太文字の設定*/
.section-title {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 24px;
    text-transform: uppercase;
}

/* 飛んだあとの文章の設定*/
.section-name{
    text-align: center;
    margin-bottom: 64px;
    font-size:1.6rem;
} 
.section-text{
    text-align: center;
    margin-bottom: 40px;
    font-size: 1.6rem;
    
}
/*sentense end */

/* about end*/

 /* course start*/
 
 
 
 
 /* 手が組んでいる写真の設定*/
 .img-four {
    margin-bottom: 64px;
}
/* 文字の設定*/
.container{
    width: 700px;
    margin:auto;
    background-color: white;
    margin-bottom: 80px;
}

.container h2{
    color: #ffd61a;
}

.contents {
  margin-bottom: 64px;
}
/* 写真の設定*/
.contents-box{
    position: relative;
}

/* COURSEの写真と文字の並び順の設定*/
.course-detail {
    display: flex;
    align-items: center;
}
/* COURSEの写真と文字のなかの文字の設定にあたる*/
.course-detail dd {
    width: 50%;
    margin-left: auto;
}
/* 「チーズアカデミーでは、～」などの幅の大きさや左の余白の設定*/
.course-exp {
    width: 522px;
    margin-left: 48px;
}
/* 「本格的な農園を使った実地研修、」などの文字の大きさや太字の設定*/
.course-title {
    font-weight: bold;
    font-size: 2.4rem;
}
/* COURSEの2枚目の写真の文字の位置や余白の設定*/
.exp-box_container {
    max-width: 100%;
    width: 79.6%;
    margin-left: auto;
    margin-right: 0px;
    padding-right: 48px;
}

/*写真の大きさの設定*/
.slide-left{
    visibility: visible; 
    position: relative; 
    right: 0px;
    max-width: 67%;
}
.slide-right{
    visibility: visible;
    position: relative; 
    left: 0px;
    max-width: 67%;
    
}
/* COURSEの2枚目の写真と文字の並び順の設定を逆にしている*/
.course-detail:nth-child(2) {
    flex-direction: row-reverse;
}

/*course end */
/*news start  */
/*news 全体の余白や位置の設定  */
.news {
    width: 960px;
    margin: 0 auto;
    text-align: center;
}
/*要素が並列になる  */
.works-list {
    display: flex;
}
/*一つ記事の左の余白設定  */
.works-item {
    margin-left: 32px;
}
/*写真の大きさの設定*/
.slide-bottom{
    visibility: visible;
    position: relative; 
    max-width: 67%;
}

/*newsの日付の位置*/
.date-products {
    text-align: left;
    margin-bottom: 24px;
}
/*newsのコメントの大きさ位置設定*/
.explanation {
    margin-bottom: 56px;
    text-align: left;
}
/*more ボタンの設定*/
.btn {
    display: block;
    width: 214px;
    padding-top: 21px;
    padding-bottom: 21px;
    margin: auto;
    background-color: #ffd61a;
    color: #fff;
    font-size: 1.8rem;
    text-align: center;
    text-decoration: none;
    margin-bottom: 48px;
}
/*news end  */
/*access start  */
/*access 全体の設定  */
.access {
    background-color: #fafafa;
    padding-top: 64px;
    padding-bottom: 80px;
}
/*mapの設定  */
.map {
    max-width: 100%;
    padding-bottom: 56.25%;
    position: relative;
}
/*ここは分からない  */
iframe {
    position: absolute;
}
/*学校名含む以下の設定  */
.access-wrapper {
    width: 408px;
    margin: auto;
    padding-top: 64px;
}
/*学校名含む以下の行列設定 */
.access-container {
    display: flex;
    flex-wrap: wrap;
    width: 408px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 40px;
    font-size: 1.6rem;
    background-color: #fafafa;
}
/*学校名含む以下の文字の設定 */
.access-title {
    width: 98px;
    padding: 0 0 24px 0;
    margin: 0 0 0 20px;
    font-weight: normal;
    text-align: left;
}
/*学校名含む以下の文字の設定 */
.access-item {
    width: 290px;
    padding: 0 0 24px 0;
}
/*学校名含む以下の文字の設定 */
.access-title mail{
    padding: 0;
}
/*学校名含む以下の文字の設定 */
.mail{
    padding: 0;
}
/*学校名含む以下の右側文字の設定 */
.access-container dd {
    text-align: center;
}
/*access end  */

/*contact start  */
/*contactの全体の設定  */
.contact {
    padding: 64px 0 64px;
}
/*contactの横余白の設定  */
.form-wrapper {
    width: 600px;
    margin: 0 auto;
}
/*contactの１段落目の設定  */
.con1 {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 64px;
}
/*contactの２段落目の設定  */
.con2 {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 32px;
}
/*contactの３段落目の設定  */
.con3 {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 80px;
}
/*フォーム目の設定  */
.form-inner {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
/*送信の設定  */
.btn-submit {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    width: 298px;
    height: 54px;
    font-size: 1.8rem;
    padding: 0px;
    margin-bottom: 0px;
}
/*contact end  */
/*コピーライトの全体設定  */
.footer {
    padding: 24px 0;
    background-color: #707070;
    text-align: center;
}

.footer.wrapper {
    position: relative;
}

.copyrights {
    color: #fff;
    font-size: 1.4rem;
}